.card{
    background-color: #e2e5e7;
    border: 1px solid #babdbe;
}

table{
    border: 1px solid black;
    margin-top: 10px;
}

.mgl{
    margin-left: 10px;
}

.btn-novo{
    background-color: #374a52;
    color: white ;
    border: 1px solid #dadddf;
}

