<!-- Navbar-->
<div class="navbar navbar-expand-lg">
  <div class="container-fluid justify-content-between">
    <!-- Left elements -->
    <div class="d-flex">
      <!-- Brand -->
      <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
        <img
          src="../../../../assets/9391716.png"
          height="40"
          alt=""
          loading="lazy"
          
        />
        Sistema Gestão
      </a>

    </div>
    <!-- Left elements -->

  </div>
</div>
<!-- Navbar -->

<div class="d-flex">
  <!-- Sidebar lateral -->
  <div class="sidebar" style="min-width: 250px; height: 100vh;">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/principal/atendimentos">
          <i class="fas fa-book"></i> Agenda
        </a>
      </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/principal/tipoatendimento">
            <i class="fas fa-concierge-bell"></i> Atendimentos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/principal/produtos">
            <i class="fas fa-archive"></i> Produtos
          </a>
        </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/principal/clientes">
              <i class="fas fa-users"></i> Clientes
            </a>
        </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/principal/funcionarios">
          <i class="fas fa-people-carry"></i> Funcionarios
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/principal/venda">
          <i class="fas fa-cart-arrow-down"></i> Registrar Venda
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-sign-out-alt"></i> Sair
        </a>
      </li>
      
    </ul>
  </div>

    <!-- Conteúdo principal -->
    <div class="content p-4" style="flex-grow: 1;">
      <router-outlet></router-outlet>
    </div>
  </div>