<br />
<div class="container">
  <div class="row">

    <div class="col-lg-12 centralizar topo">

          <h3>Agendar horario:</h3>
          
        <br>
        <mdb-form-control>
            
            @if(atendimento.funcionario == null){
                <button type="button" class="btn btn-novo btn-rounded" mdbRipple (click)="buscarFuncionario()">
                    Buscar funcionario
                </button>
            }@else{
                <span class="text-primary"> funcionario: {{atendimento.funcionario.nome}}</span><br>
                <button type="button" class="btn btn-novo btn-rounded" mdbRipple (click)="buscarFuncionario()">
                    Trocar funcionario
                </button>
            }
        </mdb-form-control>
        <br>
        <mdb-form-control>
            
            @if(atendimento.cliente == null){
                <button type="button" class="btn btn-novo btn-rounded" mdbRipple (click)="buscarCliente()">
                    Buscar Cliente
                </button>
            }@else{
                <span class="text-primary"> Cliente: {{atendimento.cliente.nome}}</span><br>
                <button type="button" class="btn btn-novo btn-rounded" mdbRipple (click)="buscarCliente()">
                    Trocar Cliente
                </button>
            }
        </mdb-form-control>
        <br>
        <mdb-form-control>
            
            @if(atendimento.tipo_atendimento == null){
                <button type="button" class="btn btn-novo btn-rounded" mdbRipple (click)="buscartipo()">
                    Buscar Tipo atendimento
                </button>
            }@else{
                <span class="text-primary"> Atendimento: {{atendimento.tipo_atendimento.descricao}}</span><br>
                <button type="button" class="btn btn-novo btn-rounded" mdbRipple (click)="buscartipo()">
                    Trocar Tipo atendimento
                </button>
            }
        </mdb-form-control>

        <br>
            <mdb-form-control>
            <input mdbInput type="date" id="usuario" class="form-control" [(ngModel)]="atendimento.data_atendimento" />
            <label mdbLabel class="form-label" for="usuario">Data atendimento</label>
        </mdb-form-control>
        <br>
            <mdb-form-control>
            <input mdbInput type="time" id="usuario" class="form-control" [(ngModel)]="atendimento.hora_atendimento" />
            <label mdbLabel class="form-label" for="usuario">hora do atendimento</label>
          </mdb-form-control>
          <br>
          <mdb-form-control>
          <input mdbInput type="text" id="usuario" class="form-control" [(ngModel)]="atendimento.observacao" />
          <label mdbLabel class="form-label" for="usuario">Obeservacao</label>
        </mdb-form-control>



          <br /> <br />
          <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="save()">
            Salvar
          </button>

    </div>

  </div>
</div>




<ng-template #modalTipoAtendimento>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cadastro</h5>
        <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modalRef.close()"
        ></button>
    </div>
    <div class="modal-body">
    
        <app-tipoatendimentolist [esconderBotoes]="true" (retorno)="retornoTipoAtendimento($event)"></app-tipoatendimentolist>
    
    </div>
    
</ng-template>


<ng-template #modalClientes>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cadastro</h5>
        <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modalRef2.close()"
        ></button>
    </div>
    <div class="modal-body">
    
        <app-clientelist [esconderBotoes]="true" (retorno)="retornoCliente($event)"></app-clientelist>
    
    </div>
    
</ng-template>


<ng-template #modalFuncionarios>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cadastro</h5>
        <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modalRef3.close()"
        ></button>
    </div>
    <div class="modal-body">
    
        <app-funcionariolist [esconderBotoes]="true" (retorno)="retornoFuncionario($event)"></app-funcionariolist>
    
    </div>
    
</ng-template>






