.card{
    background-color: #e2e5e7;
    border: 1px solid #babdbe;
    width: 100%;
}

table{
    border: 1px solid black;
    margin-top: 10px;
}

.mgl{
    margin-left: 10px;
}

.btn-novo{
    background-color: #374a52;
    color: white ;
    border: 1px solid #dadddf;
}
.modal-body {
    max-height: 70vh; /* 70% da altura da viewport */
    overflow-y: auto; /* Habilita rolagem vertical */
  }
  